.title {
    margin: 0 auto;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    font-size: 3rem;
    text-transform: uppercase;
    background-color: #F15152;
    color: #F4F3EE;
    padding: 2rem;
}